.empty{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  border-radius: 10px;
}
.empty button{
  background: #faa60a;
  padding: 17px 15px;
  color: #ffffff;
  border-radius: 4px;
  font-weight: 600;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.empty h3{
  color: #505050;
  font-weight: 500;
}
.empty p{
  color: #202020;
}
.empty button:hover{
  background: #f59f00;
}
.empty img{
  width: 100px;
}